<app-header-component></app-header-component>

<div class="background">
    <div class="box-login">

        <div class="row">
            <div class="p-col-4">
                <p>Usuário:</p>
            </div>
            <div class="p-col-8">

            </div>
        </div>
        <div class="row">
            <div class="p-col-4">
                <p>Senha:</p>
            </div>
            <div class="p-col-8">

            </div>
        </div>

        <button pButton id="button-entrar" class="p-button-outlined" icon="pi pi-plus" iconPos="left" title="Entrar" label="Entrar"></button>

    </div>
</div>