<app-menu-component></app-menu-component>
<div class="fieldset-subestacao">
    <p-fieldset>
        <p-header>Subestação</p-header>
        <div class="p-grid">
            <div class="p-col-2">Código:</div>
            <div class="p-col-10">
                <input pInputText style="width: 10%;" type="text" />
            </div>
            <div class="p-col-2">Nome:</div>
            <div class="p-col-10">
                <input pInputText style="width: 100%;" type="text" />
            </div>
            <div class="p-col-2">Latitude:</div>
            <div class="p-col-10">
                <input pInputText style="width: 30%;" type="text" />
            </div>
            <div class="p-col-2">Longitude:</div>
            <div class="p-col-10">
                <input pInputText style="width: 30%;" type="text" />
            </div>
        </div>
    </p-fieldset>
</div>